$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
//Variables
$brand-primary: #73937E;//9B287B, 7C9CAE
$brand-success: #40090D;
$brand-info: #5E001E;
$brand-warning: #87BBA2;
$brand-danger: #C9E4CA;

$font-family-sans-serif: 'Open Sans', sans-serif;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//General Styles
body {
  background-color: $brand-primary;
}
hr {
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.letter-white {
  position: relative;
  top: 120px;
}
.letter-black {
  position: relative;
  top: 40px;
  color: #fff;
}
.logo {
  color: #fff;
}
.text-small {
  font-size: 10px;
}
.well {
  background-color: $brand-info;
  color: #fff;
  border-width: 3px 1px 1px 1px;
  border-color: rgba(255, 255, 255, 0.15);
  box-shadow: -1px 10px 5px 5px rgba(0, 0, 0, 0.3) inset;
  // min-height: 280px;
}
.panel-default > .panel-heading {
  background-color: $brand-success;
  border-radius: $border-radius-base;
  color: #fff;
  border-color: darken($brand-success, 2%);
  box-shadow: 0 0 0 1px darken($brand-success, 5%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 darken($brand-success, 2%), 0 8px 8px 1px rgba(0,0,0,0.5);
}
.synth {
  background-color: $brand-success;
  border: none;
  box-shadow: 0 0 0 1px darken($brand-success, 5%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 20px 0 0 darken($brand-success, 2%), 0 8px 8px 1px rgba(0,0,0,0.5);
}
//Piano Styles
.piano{
  width: 100%;
  height: 180px;
  margin: auto;
  overflow: hidden;
  background: $brand-info;
  box-shadow: 0 0 0 1px darken($brand-success, 5%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 darken($brand-success, 2%), 0 8px 8px 1px rgba(0,0,0,0.5);
}
.piano-container {
  width: 95%;
  height: 160px;
  background: #fff;
  margin: 10px auto 0 auto;
  border-radius: $border-radius-base;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.7) inset;
}
.piano-container li {
  width: (100% / 21);
  height: 100%;
  float: left;
  list-style-type: none;
  position: relative;
}
.white {
  width: 100%;
  height: 100%;
  float: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  background: #f5f5f5;
  &.active {
  	box-shadow: -1px 0 15px rgba(0, 0, 0, 0.3) inset;
  }
}
.black {
  position: absolute;
  z-index: 2;
  width: 70%;
  height: 90px;
  background: #000;
  right: -35%;
  box-shadow: 1px 0 #111, 0 2px 0 #111, 0 3px 0 #333, 0 4px 0 #333, 0 5px 0 #333, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  &.active {
  	box-shadow: 1px 0 #777, 0 2px 0 #777, 0 3px 0 #666, 0 4px 0 #555;
  }
}
//Buttons
.btn, .btn:focus {
  position: relative;
  top: -2px;
  border: 0;
  -moz-outline-style: none;
       outline: medium none;
   transition: all 0.04s linear;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 2px;
   margin-right: 2px;
}
.btn:active, .btn.active {
  top: 2px;
}
.btn.btn-primary {
  box-shadow: 0 0 0 1px darken($brand-primary, 5%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 darken($brand-primary, 2%), 0 8px 8px 1px rgba(0,0,0,0.5);
  background-color: $brand-primary;
}
.btn.btn-primary:active, .btn.btn-primary.active {
  box-shadow:0 0 0 1px darken($brand-primary, 5%) inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
  background-color: darken($brand-primary, 10%);
}
.tuna-btn {
  margin-top: -4px !important;
}
.tuna-panel-toggle {
  margin: 0 5px !important;
}
//Range Slider - Autoprefixer wont work here. Inspired by http://codepen.io/thebabydino/pen/RNYrJM
input[type='range'] {
  height: 2px;
  margin: 10px auto;
  border-radius: .25em;
  background: $brand-success;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 80%;
  height: 2px;
  border-radius: 0.5em / 0.25em;
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  width: 80%;
  height: 2px;
  border-radius: 0.5em / 0.25em;
}
input[type='range']::-ms-track {
  box-sizing: border-box;
  width: 80%;
  height: 2px;
  border-radius: 0.5em / 0.25em;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -1em;
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2em;
  height: 1.3em;
  border-radius: 0.2em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #111, -0.84375em 0 1.125em -0.84375em #111, -0.84375em 0 1.40625em -0.84375em #111, -0.84375em 0 1.6875em -0.84375em #111, -0.84375em 0 1.96875em -0.84375em #111, -1.125em 0 2.25em -0.84375em #111;
  background: linear-gradient(90deg, #f5f5f5, #bbbbbb) content-box, linear-gradient(90deg, #a9a9a7, #f7f7f7) border-box;
  cursor: we-resize;
  box-shadow: 0 0 0 1px darken(#bbbbbb, 5%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 darken(#a9a9a7, 2%), 0 8px 8px 1px rgba(0,0,0,0.5);
}
input[type='range']::-moz-range-thumb {
  margin-top: -1em;
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2em;
  height: 1.3em;
  border-radius: 0.2em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #111, -0.84375em 0 1.125em -0.84375em #111, -0.84375em 0 1.40625em -0.84375em #111, -0.84375em 0 1.6875em -0.84375em #111, -0.84375em 0 1.96875em -0.84375em #111, -1.125em 0 2.25em -0.84375em #111;
  background: linear-gradient(90deg, #f5f5f5, #bbbbbb) content-box, linear-gradient(90deg, #a9a9a7, #f7f7f7) border-box;
  cursor: we-resize;
  box-shadow: 0 0 0 1px darken(#bbbbbb, 5%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 darken(#a9a9a7, 2%), 0 8px 8px 1px rgba(0,0,0,0.5);
}
input[type='range']::-ms-thumb {
  margin-top: -1em;
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2em;
  height: 1.3em;
  border-radius: 0.2em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #111, -0.84375em 0 1.125em -0.84375em #111, -0.84375em 0 1.40625em -0.84375em #111, -0.84375em 0 1.6875em -0.84375em #111, -0.84375em 0 1.96875em -0.84375em #111, -1.125em 0 2.25em -0.84375em #111;
  background: linear-gradient(90deg, #f5f5f5, #bbbbbb) content-box, linear-gradient(90deg, #a9a9a7, #f7f7f7) border-box;
  cursor: we-resize;
  box-shadow: 0 0 0 1px darken(#bbbbbb, 5%) inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 darken(#a9a9a7, 2%), 0 8px 8px 1px rgba(0,0,0,0.5);
}
input[type='range']:focus {
  outline: none;
}
