<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Filter</h3>
  </div>
  <div class="panel-body">
    <label>Filter type</label>
    <br>
    <div class="btn-group btn-group-justified">
       <label class="btn btn-primary" ng-model="dsp.filter.type" btn-radio="'lowpass'">LP</label>
       <label class="btn btn-primary" ng-model="dsp.filter.type" btn-radio="'highpass'">HP</label>
       <label class="btn btn-primary" ng-model="dsp.filter.type" btn-radio="'bandpass'">BP</label>
   </div>
   <hr>
    <label>Frequency</label>
    <input type="range" ng-model="dsp.filter.cutoff" min="0" max="15" step="0.1">
    <label>Resonance</label>
    <input type="range" ng-model="dsp.filter.Q.value" min="0" max="20" step="0.1">
    <hr>
    <label>Filter LFO frequency</label>
    <input type="range" ng-model="dsp.filterLFO.frequency.value" min="0" max="20" step="0.1">
    <label>Filter LFO gain</label>
    <input type="range" ng-model="dsp.filterLFOGain.gain.value" min="0" max="150" step="0.1">
  </div>
</div>
