<div id="piano">
  <div id="piano-container">
    <li>                
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(90) > -1}">                        
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(83) > -1}">
      </div>    
    </li> 
    <li>                
      <div class="white">                         
      </div>
      <div class="black">
      </div>   
    </li> 
    <li>                
      <div class="white">                            
      </div>
    </li> 
    <li>                
      <div class="white">                      
      </div>
      <div class="black">
      </div>      
    </li> 
    <li>                
      <div class="white">                            
      </div>
      <div class="black">
      </div>
    </li> 
    <li>                
      <div class="white">                        
      </div>
      <div class="black">
      </div>    
    </li> 
    <li>                
      <div class="white">                          
      </div>
    </li>                     
  </div>
</div>