<div class="piano" tooltip="Use your keyboard to play notes!"  tooltip-trigger="mouseenter" tooltip-placement="top">
  <div class="piano-container">
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(90) > -1}">
      <span class="letter-white text-center"><h4>Z</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(83) > -1}">
      <span class="letter-black text-center"><h4>S</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(88) > -1}">      
      <span class="letter-white text-center"><h4>X</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(68) > -1}">
      <span class="letter-black text-center"><h4>D</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(67) > -1}">
      <span class="letter-white text-center"><h4>C</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(86) > -1}">
      <span class="letter-white text-center"><h4>V</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(71) > -1}">
      <span class="letter-black text-center"><h4>G</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(66) > -1}">
      <span class="letter-white text-center"><h4>B</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(72) > -1}">
      <span class="letter-black text-center"><h4>H</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(78) > -1}">
      <span class="letter-white text-center"><h4>N</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(74) > -1}">
      <span class="letter-black text-center"><h4>J</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(77) > -1}">
      <span class="letter-white text-center"><h4>M</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(188) > -1}">
      <span class="letter-white text-center"><h4>,</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(76) > -1}">
      <span class="letter-black text-center"><h4>L</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(190) > -1}">
      <span class="letter-white text-center"><h4>.</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(186) > -1}">
      <span class="letter-black text-center"><h4>;</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(191) > -1}">
      <span class="letter-white text-center"><h4>/</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(81) > -1}">
      <span class="letter-white text-center"><h4>Q</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(50) > -1}">
      <span class="letter-black text-center"><h4>2</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(87) > -1}">
      <span class="letter-white text-center"><h4>W</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(51) > -1}">
      <span class="letter-black text-center"><h4>3</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(69) > -1}">
      <span class="letter-white text-center"><h4>E</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(52) > -1}">
      <span class="letter-black text-center"><h4>4</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(82) > -1}">
      <span class="letter-white text-center"><h4>R</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(84) > -1}">
      <span class="letter-white text-center"><h4>T</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(54) > -1}">
      <span class="letter-black text-center"><h4>6</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(89) > -1}">
      <span class="letter-white text-center"><h4>Y</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(55) > -1}">
      <span class="letter-black text-center"><h4>7</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(85) > -1}">
      <span class="letter-white text-center"><h4>U</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(73) > -1}">
      <span class="letter-white text-center"><h4>I</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(57) > -1}">
      <span class="letter-black text-center"><h4>9</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(79) > -1}">
      <span class="letter-white text-center"><h4>O</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(48) > -1}">
      <span class="letter-black text-center"><h4>0</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(80) > -1}">
      <span class="letter-white text-center"><h4>P</h4></span>
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(189) > -1}">
      <span class="letter-black text-center"><h4>-</h4></span>
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(219) > -1}">
      <span class="letter-white text-center"><h4>[</h4></span>
      </div>
    </li>
  </div>
</div>
