<div class="piano">
  <div class="piano-container">
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(90) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(83) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(88) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(68) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(67) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(86) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(71) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(66) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(72) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(78) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(74) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(77) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(188) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(76) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(190) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(186) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(191) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(81) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(50) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(87) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(51) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(69) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(52) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(82) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(84) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(54) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(89) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(55) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(85) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(73) > -1}"
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(57) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(79) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(48) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(80) > -1}">
      </div>
      <div class="black" ng-class="{active: keyboard.activeKeys.indexOf(189) > -1}">
      </div>
    </li>
    <li>
      <div class="white" ng-class="{active: keyboard.activeKeys.indexOf(219) > -1}">
      </div>
    </li>
  </div>
</div>
