<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Oscillators</h3>
  </div>
  <div class="panel-body">
    <label>Oscillator wave</label>
    <div class="btn-group">
       <label class="btn btn-primary" ng-model="dsp.osc.type" btn-radio="'sine'">Sine</label>
       <label class="btn btn-primary" ng-model="dsp.osc.type" btn-radio="'square'">Square</label>
       <label class="btn btn-primary" ng-model="dsp.osc.type" btn-radio="'sawtooth'">Sawtooth</label>
       <label class="btn btn-primary" ng-model="dsp.osc.type" btn-radio="'triangle'">Triangle</label>
   </div>
  </div>
</div>
