<div class="panel panel-default well well-sm">
  <div class="panel-heading">
    <h3 class="panel-title">Volume Envelope</h3>
  </div>
  <div class="panel-body">
    <label>Attack</label>
    <input type="range" ng-model="dsp.volEnv.attack" min="0.05" max="5" step="0.01">
    <label>Decay</label>
    <input type="range" ng-model="dsp.volEnv.decay" min="0" max="1" step="0.01">
    <label>Sustain</label>
    <input type="range" ng-model="dsp.volEnv.sustain" min="0" max="1" step="0.01">
    <label>Release</label>
    <input type="range" ng-model="dsp.volEnv.release" min="0" max="10" step="0.01">
  </div>
</div>
